
	header{
		text-align:center;
		color:maroon;
		background-color:pink;
		border:black solid 5px;
		border-radius:5px;
		border: 1px solid;
		padding: 300px;
		padding-right: 300px;
		box-shadow: 50px 50px;
		
